.cart {
    display: flex;
    align-items: center;
    background-color: #f3f3f3;
  }
  
  .cart img {
    margin-right: 10px;
    width: 80px; 
  }
  

  .cartItems{
    background-color: black;
    font-size: medium;
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 5px;
    color: white;
    border-radius: 15px;
  }