body {
    flex-direction: row;
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    background-color: #f1f1f1;
  }
  
  #main__container {
    background: white;
    height: 85vh;
    padding: 15px;
    width: 100vw;
  }
  
  
  .main__container {
    display: flex;
    flex-direction: column;
  }
  
  .main__container > nav {
    background: white;
    height: 15%;
    width: 100%;
    color: black;
  }
  

  .link {
    color: black;
    margin: 5px;
    padding: 10px 15px;
    text-decoration: none;
    font-family: sans-serif;
    font-size: small;
    display: block;
  }
  
  .link:hover {
    color: lightgray
  }
  
  .list__characters{
    display: flex;
    width: 100%;
    height: 50%;
    overflow-x: scroll;
  }
  
  .item__box > img {
    height: 100px;
    max-width: 100px;
  }
  
  .selected__characters{
    background: lightblue;
    width: 100%;
    height: 35%;
  }
  
  .item__box{
    border: solid 1px gray;
    border-radius: 5px;
    padding: 5px;
    margin: 2px;
    height: 90%;
    min-width: 150px;
  }
  
  .item__box h1{
    font-size: 1em;
  }
  
  .item__box h2{
    font-size: 0.9em;
    color: red
  }
  
  .item__box > img {
    height: 100px;
    max-width: 100px;
  }
  

/* Item */
.card {
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .card-img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
  }
  
  .card-content {
    text-align: center;
    padding-top: 5px;
    margin-bottom: 10px;
  }

  .card-content-detail {
    text-align: center;
    padding-top: 30px;
    margin: 50px 5px 5px 15px;
    width: 80rem;
  }

  
  .card-title {
    font-size: 1.5rem;
    margin-bottom: 5px;
    
  }
  
  .card-description {
    margin-bottom: 10px;
  }
  
  .card-price {
    font-weight: bold;
  }
  
  .card-button {
    display: inline-block;
    padding: 8px 12px;
    background-color: black;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    text-align: center;
  }
  


  .divCards{
    flex-basis: calc(50% - 150px);
    margin: 5px;
  }

  .cart {
    display: flex;
    align-items: center;
  }
  
  .cart img {
    margin: 40px;
    max-width: 35px; 
    height: 35px;
    padding-bottom: 8px;

  }
  
  
  .cartItems{
    background-color: black;
    font-size: medium;
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 5px;
    color: white;
    border-radius: 15px;
  }

  .quantityCart{
    width: 50px;
    height: 50px;
  }

  .cartNav{
    justify-content: right;
    margin-left: 15px;
    margin-right: 30px;
  }

 

  .verMasDiv{
    margin-top: 15px;
    margin-bottom: 50px;
  }


/* Loading */
  .loading{
    align-items: center;
    justify-content: center;
    flex-direction: row;
    display: flex;
  
  }

  .loadingIcon{
    width: 100px;
    height: 100px;
    margin-bottom: 500px;
    margin-top: 10rem;
  }


/* ItemListContainer */
div.polaroid {
  width: 80%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 20px;
  padding: 20px;
  border-radius: 3px;
}
  
img {max-width: 100%}
  
div.container {
  text-align: center;
  padding: 10px 20px;
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
}
  


.addBtn {
  background-color: black;
  color: white;
}
.addBtn :hover{
  background-color: white;
  color: black;
}


.detalleItemContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  margin: 10px;
  max-width: 100%; 
}

.detalleItem {
  width: 100%; 
  max-width: 35rem; 
  display: flex;
  flex-direction: column;
  align-items: center;
}


/* Item Detail */
.detalleItem{
  padding: 15px;
  width: 70%;
  height: 70%;
  margin: 20px;
  display: flex;
  align-items: center;
}



.detailTitle{
  padding-bottom: 15px;
  /* writing-mode: vertical-rl; */
}


/* ItemCount */
.boton{
  margin: 5px;
  height: 50%;
  width: 50%;
  background-color: black;
  color: white;
  border-radius: 7px;
  padding: 6px;
}

.comprarBtn{
  background-color: black;
  color: white;
  border-radius: 8px;
  padding: 7px;
}

.botonDiv{
  margin-bottom: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.botonDivv :hover{
  background-color: white;
  color: black;
}


.botonDivv{
  margin: 15px;
  display: flex;

}

.cartItems{
  background-color: black;
  color: white;
  font-size: medium;
  width: 50%;
  height: 50%;
  text-align: center;
  padding: 5px;
  border-radius: 10px;
  cursor:pointer;

}


/* ItemList */
.itemList{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

  .addToCart{
    flex-wrap: wrap;
    padding: 15px;
    justify-content: center;
    flex-direction: row;
    display: flex;
  }

 

  .hamburgerIcon{
    margin: 5px;
    width: 20px;
    height: 20px;
  }


.dropdownButton {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 16px;
  font-family: sans-serif;
  display: flex;
  align-items: center;
  vertical-align: middle;
}

.filterText {
  margin-right: 5px; 
  transition: margin-left 0.3s;
}

.dropdownWrapper {
  position: relative; 
  display: inline-block;
}

.categoryLinks {
  position: relative;
  display: inline-block;
  max-height: 40px;
}

.dropdownContent {
  display: none;
  position: absolute;
  background-color: whitesmoke;
  min-width: 120px;
  z-index: 1;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  border-radius: 5px;
  left: min(0, calc(50% - 90px)); 
  height: auto;
  
}

.dropdownContent.show {
  display: block;
}


  .linkLogonuevo{
    width: 100%;
    height: 100%;
   }


.navbarLogo{
  max-width: 40%;
  margin: 5px auto 0 30px;
}

.navbarLogo img{
  width: 40%;
  padding-bottom: 8%;
  margin: 0%;
  max-width: 80%;
}

#navbar {
  background-color: #ffffff;
  background-image: linear-gradient(0deg, #f1f1f1 0%, #eee5e6 55%, #ceacb3 100%);
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  padding-top:5%;
  padding-bottom: 20px;
  justify-content: space-between;
  width: 100vw; 
  margin-bottom: 5px;
}


#navbar{
  justify-content: space-between;
  justify-content: center;
}

#navbar .cartNav:hover {
  filter: drop-shadow(2px 4px 6px grey);
}

#navbar .filterText:hover {
  filter: drop-shadow(2px 4px 6px grey);
}


  /* Footer */
 #footer {
  text-align: center;
  padding: 20px;
  justify-content: center;
  margin-top: 20px;
  background-color: #ffffff;
  background-image: linear-gradient(180deg, #f1f1f1 0%, #eee5e6 55%, #ceacb3 100%);
  flex-shrink: 0;

}
#footer img:hover {
    filter: drop-shadow(2px 4px 6px grey);
}

#footer .copy-right {
  margin-top: 15px;
  font-size: small;
}
  
.logo{
  width: 200px;
  height: 100px;
}


  /* Icons Footer */
.icons{
  width: 20px;
  height: 20px;
  margin: 20px 5px 10px 5px;
}



/* form & checkout */
.body-checkout{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  
}


#form {
  width: 300px;
  padding: 20px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    
}


.titles-checkout{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
}


.input-checkout{
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.btnPlaceOrder{
  margin: 10px 0 10px 0;
  background-color: green;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 3px;
  cursor: pointer;
}


.shipping-checkout{
     border: 1px solid green;
    border-radius: 3px;
    padding: 8px;
}

.thanksDiv {
  justify-content: center;
  align-items: center;
  display: flex;
  min-height: 70vh;
}

.thanks {
  border-radius: 3px;
  padding: 8px;
  width: 50rem;
  text-align: center;
  margin: 20px;
}

.thanksContent {
  text-align: center;
}

.thanksContent p {
  padding-top: 15px;
}

.thanks h4 {
  padding-bottom: 15px;
}

.orderId{
  background-color: white;
  margin: 15px;
}

.downloadBtn{
  margin: 30px 5px 15px 5px;
  padding: 10px;
  background-color: black;
  color: white;
  border-radius: 8px;
}

.contactMe{
  margin-top: 15px;
}


/* category title */
.categoryTitle{
  /* writing-mode: vertical-rl; */
  text-transform: capitalize;
  animation-timing-function: ease;
  font-weight: bold;
  position: relative;
  animation: mymove 5s infinite;
  font-family: 'Foldit', cursive;
  font-family: 'Limelight', cursive;
  color: grey;
}


@keyframes mymove {
  from {left: 0px;}
  to {left: 60px;}
}


/* cart */
.cartt{
  text-align: center;
  align-items: center;
  margin:30px;
  display: flex;
  justify-content: center ;
}

.cartDetail{
  justify-content: space-between;
  flex-direction: row;
  align-items: center;

}

.detallecart{
  align-items: center;
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  width: 100vw; 
  max-width: 50%;
  overflow-x: hidden;
}

.detallecart img{
  width: 100%; 
  max-width: 20rem;
  margin: 5px 0;
}

.detallecart p{
  flex: 1;
  margin: 5px;
  text-align: center;
  
}

.imgCartt{
  max-width: 20rem;
}


.botonRojo{
  margin: 5px;
  background-color: red;
  color: white;
  border-radius: 5px;
  padding: 11px;
  border: none;
}

.botonCheckOut{
  margin: 5px;
  background-color: green;
  color: white;
  border-radius: 5px;
  padding: 10px;
}

.itemsCartDiv{
  padding: 5px;
}

/* Cart vacio */
.cartVacioDiv{
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  height: 45vh;
  padding: 40px;
}

.cartVacio{
  padding: 30px;
  border-radius: 8px;
  justify-content: center;
}

.goShopBtn{
  width: 10rem;
  padding: 10px;
  background-color: black; 
  color: white;
  border-radius: 8px;
}

.emptyCart{
  width: 10%;
}

.deleteItem{
  width: 50px;
  height: 50px;
  border: none;
  margin: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}


/* Media query for smaller screens */
@media screen and (max-width: 768px) {
    .detallecart {
      flex-direction: column;
      align-items: center; 
    }

    .deleteItem {
      width: 30px; 
      height: 30px;
      margin-top: 10px; 
    }

    .cartt{
      flex-direction: column;
      align-items: center;

      justify-content: flex-start; 
    }

    .dropdownButton {
      align-items: center; 
    }

    .filterText {
      margin-left: -10px;
    }

    .divCards {
      flex-basis: calc(50% - 20px);
    }

    .loading{
      margin: 5px;
    }

}


/* Media query for medium screens */
@media screen and (min-width: 769px) and (max-width: 1023px) {
  .divCards {
    flex-basis: calc(30% - 20px);
  }
  .totalDiv{
    margin-bottom: 50px;
  }
}

/* Media query for larger screens */
@media screen and (min-width: 1024px) {
  .divCards {
    flex-basis: calc(30% - 20px); 
  }
  .totalDiv{
    margin-bottom: 50px;
  }
  .loading{
    margin: 10px 100px 10px 100px;
  }
}



